<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			body {
				display: grid;
				height: 100vh;
				grid-template-rows: auto 1fr auto;
			}

			header {
				background: lightpink;
				padding: 2rem;
			}

			main {
				background: coral;
			}

			footer {
				background: wheat;
				padding: 2rem;
				text-align: center;
			}

			body {
				font-family: system-ui, sans-serif;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>Header.com</h1>
		</header>
		<main></main>
		<footer>Footer Content — Header.com 2020</footer>
	</body>
</html>
