<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			body {
				display: grid;
				grid-template-columns: minmax(150px, 25%) 1fr;
				padding: 0;
				margin: 0;
			}

			.sidebar {
				height: 100vh;
				background: lightpink;
				font-size: 2rem;
				text-align: center;
			}

			.content {
				padding: 2rem;
			}

			body {
				font-family: system-ui, serif;
			}
		</style>
	</head>
	<body>
		<div class="sidebar" contenteditable>
			Min: 150px
			<br />
			Max: 25%
		</div>
		<p class="content" contenteditable>
			2131231
		</p>
	</body>
</html>
